body {
    font-family: Arial, sans-serif;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-self: center;
    height: 50vh;
}

#display {
    background: #555;
    color: #fff;
    padding-right: 10px;
    border-radius: 5px;
    text-align: right;
    font-size: 24px;
    margin-bottom: 10px;
    height: 50px;
    width: 100%;
}

.calculator {
    background: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 250px;
    cursor: pointer;
    font-size: 16px;
    border: none;
}
.buttons {
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 10px;
}

#result {
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
}
.zero{
    grid-column: span 2;
}
